
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <span class="h1">Listas</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 my-3">
      <div class="text-justify">
        <span>{{exampleText}}</span>
      </div>

      <div class="col-12 my-3">
        <span class="h3">Codigo de ejemplo:</span>
        <pre>
        <code>
          {{code}}
        </code>
        </pre>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <span class="h3">Fuentes</span>
      </div>
    </div>
    <div class="col-12">
      <div class="text-justify">
        <ul class="mt-3">
          <p class="text-primary">Cras justo odio</p>
          <p class="text-primary">Dapibus ac facilisis in</p>
          <p class="text-primary">Morbi leo risus</p>
        </ul>
      </div>
    </div>
  </div>
</div>
