<div class="row">
  <div class="col">
    <div class="bg-primary py-3">

        <span mat-icon-button class="favorite-icon text-white mx-5" aria-label="Example icon-button with heart icon">
            <span class="h3">Estructura de datos</span>
        </span>
        <span mat-icon-button class="favorite-icon text-white mx-1 border-right"
            aria-label="Example icon-button with heart icon">
            <span>Basicos |</span>
        </span>
        <span mat-icon-button class="favorite-icon text-white mx-1 border-right"
            aria-label="Example icon-button with share icon">
            <span>POO |</span>
        </span>
        <span mat-icon-button class="favorite-icon text-white mx-1 border-right"
            aria-label="Example icon-button with share icon">
            <span>Apuntadores |</span>
        </span>
        <span mat-icon-button class="favorite-icon text-white mx-1 border-right"
            aria-label="Example icon-button with share icon">
            <span>Listas |</span>
        </span>
        <span mat-icon-span class="favorite-icon text-white mx-1 border-right"
            aria-label="Example icon-button with share icon">
            <span>Algoritmos de busqueda |</span>
        </span>
        <span mat-icon-button class="favorite-icon text-white mx-1 border-right"
            aria-label="Example icon-button with share icon">
            <span>Algoritmos de ordanmiento |</span>
        </span>
        <span mat-icon-button class="favorite-icon text-white mx-1" aria-label="Example icon-button with share icon">
            <span>Estructuras de datos Avanzadas</span>
        </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div *ngFor="let ans of answer; index as i; first as isFirst">
      {{ans.title}}

    </div>
    <app-show-data></app-show-data>
  </div>
</div>
