<div class="container-fluid">
<div class="row">
  <div class="col">
    <div class="bg-primary py-3">
      <span mat-icon-button class="favorite-icon text-white mx-5" aria-label="Example icon-button with heart icon">
        <span class="h3">Estructura de datos</span>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div class="mx-auto" style="width: 80%;">
      <button type="button" class="btn btn-info w-100 my-3 py-3" (click)="basicos()"> <span class="text-light">Basicos</span></button>

      <button type="button" class="btn btn-info w-100 my-3 py-3" (click)="busqueda()"> <span class="text-light">Algoritmos de busqueda</span></button>
    </div>
  </div>
  <div class="col-3">
    <div class="mx-auto" style="width: 100%;">
    
      <button type="button" class="btn btn-info w-100 my-3 py-3" (click)="poo()"> <span class="text-light">POO</span></button>

      <button type="button" class="btn btn-info w-100 my-3 py-3" (click)="ordenamiento()"> <span class="text-light">Algoritmos de ordanmiento</span></button>

    </div>
  </div>
  <div class="col-3">
    <div class="mx-auto" style="width: 100%;">
      <button type="button" class="btn btn-info w-100 my-3 py-3" (click)="apuntadores()"> <span class="text-light">Apuntadores</span></button>

      <button type="button" class="btn btn-info w-100 my-3 py-3" (click)="avanzados()"> <span class="text-light">Estructuras de datos Avanzadas</span></button>

    </div>
  </div>
  <div class="col-3">
    <div class="mx-auto" style="width: 80%;">

      <button type="button" class="btn btn-info w-100 my-3 py-3" (click)="listas()"> <span class="text-light">Listas</span></button>

    </div>
  </div>

</div>
<div class="row">
  <div class="col">
    
  </div>
</div>

</div>